<section class="title-container">
  <div class="title-text">
    <h2>Hi, my name is</h2>
    <div class="title-name"><h1>Robert Salas.</h1></div>
    <div><h1>I build things for the web.</h1></div>
    <div>
      <p>
        I'm a Dallas-based software developer who specializes in building (and
        occasionally designing) exceptional digital experiences. Currently, I'm
        an engineer at <a href="https://orthofix.com/">Orthofix</a> focused on
        building accessible, human-centered products.
      </p>
    </div>
    <a class="mail-btn" href="mailto:robertjsalas1@gmail.com"> Get In Touch </a>
  </div>
</section>
