<h1>What's next?</h1>
<section>
  <mat-card>
    <mat-card-title>Get In Touch</mat-card-title>
    <mat-card-content>
      <p>
        Although I'm not currently looking for any new opportunities, my inbox
        is always open. Whether you have a question or just want to connect,
        I'll do my best to get back to you!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="mailto:robertjsalas1@gmail.com">
        <button mat-raised-button>Say Hello</button>
      </a></mat-card-actions
    >
  </mat-card>
</section>
