h1{
    text-align-last: center; 
    color: #64ffda;
    margin-top: 20px;
}
.mat-card{
    width: 25%;
}
.mat-card-title{
    text-align-last: center;
}
.mat-card-actions{
    text-align-last: center;
}
section{
    display: flex;
    justify-content: center;
}
mat-card.welrus{
    background-image: url("../../../assets/welrus.PNG");
        background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    width: 300px;
}
mat-card.welrus:hover{
    box-shadow: 0 0 11px rgba(255, 255, 255, 0.644); 
}