.nav-btn{
    margin-right: 1%;
}
  .mat-toolbar{
    place-content: center;
  }
  h2 a{
    margin-left:12px
  }

  .resume{
border: none;
background: none;
margin-left:12px
  }

.resume:hover{
  box-shadow: 0 0 6px rgba(33,33,33,.4); 
}